<template name="bullseye">
  <h2 class="ui header">
    <i class="circular bullseye icon"></i>
    <div class="content">
      Bullseye User
      <div class="sub header">Manage</div>
    </div>
  </h2>

  <div class="ui basic segment">
    <div class="ui stackable grid">
      <div class="column">
        <h3 class="ui dividing header">
          Change Current View
        </h3>
        <p>Current view is:  {{bullseyeUser.profile.currentView}}</p>
      </div> <!-- div.column -->
    </div> <!-- div.ui.stackable.grid -->
  </div> <!-- div..ui.basic.segment -->
</template>
