<template name="usersList">
  <h2 class="ui header">
    <i class="circular users icon"></i>
    <div class="content">
      Users
      <div class="sub header">Overview</div>
    </div>
  </h2>
    {{> tabular table=TabularTables.Users class="ui compact celled striped table"}}

    {{> userDeleteApproveModal}}
</template>



<template name="userIsAdminCell">
	{{#if isAdmin this._id}}<i class="yellow big certificate icon"></i>{{/if}}
</template>



<template name="userIsOnlineCell">
	{{#if this.status.online}}
    <i class="green big smile icon"></i>
  {{else}}
    <i class="disabled grey big meh icon"></i>
  {{/if}}
</template>



<template name="userEditCell">
	<a href="{{pathFor 'userEdit'}}"><i class="link circular inverted blue write icon"></i></a>
</template>



<template name="userBlockCell">
  {{#unless isAdmin this._id}}
    <div class="user-block-button">
      <i class="{{#if isBlocked}} red {{else}} disabled grey {{/if}} link big ban icon"></i>
    </div>
  {{/unless}}
</template>



<template name="userDeleteCell">
	<div class="user-delete-button"><i class="link circular inverted red remove user icon"></i></div>
</template>



<template name="userDeleteApproveModal">
  <div class="ui modal" id="user-delete-approve">
    <div class="ui icon header">
      <i class="user remove icon"></i>
      Delete user &ldquo;{{username}}&rdquo;
    </div>
    <div class="content">
      <div class="description">
        <p>The user you selected and all associated data will be removed from the database.
           Are you sure you want to do this?</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui deny red inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui approve green inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
</div>
</template>
