/*
 * login.css
 *
 * Layout affecting the 'login.html' template.
 */

.register-form-container {
  margin: auto;
  width: 80%;
}

/* Bootstrap's modal inherits text color from body,
 * which in our case is set to 'white', making text
 * invisible on the white background of the modal dialog.
 * So we need to set it to the original Bootstrap color. 
 */
.modal-header h4 {
  color: #333;
}
