/*
 * navigation.css
 *
 * Layout affecting the 'navigation.html' template.
 */

/* Override the alignment rules in order to center the nav components */
@media (min-width: 768px) {
  .main-navigation {
  /*.navbar .navbar-nav {*/
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .main-navigation > li > a {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.navbar-dark {
  background-color: #000;
  /*border-color: #080808;*/
}

.navbar-dark .navbar-nav > li > a {
  color: #9d9d9d;
}

.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus,
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #000;
}

.navbar-dark .navbar-toggle .icon-bar {
  background-color: #fff;
}

.logged-out {
  visibility: hidden;
}
