/*
 * network-vis.css
 *
 * Layout affecting the 'network.html' template.
 */

#network-vis {
  display: block;
  margin: auto;
}

.player > text {
  fill: #fff;
  font-size: 1.125em;
}

/* default color - may be overwritten with inline-style */
line {
  color: #fff;
  stroke-width: 3;
}
