body {
  font-size: 1.6em;
  background-color: #000;
  color: #fff;
}


/* Override the alignment rules in order to center the nav components */
@media (min-width: 768px) {
  .main-navigation {
  /*.navbar .navbar-nav {*/
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .main-navigation > li > a {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.navbar-dark {
  background-color: #000;
  /*border-color: #080808;*/
}

.navbar-dark .navbar-nav > li > a {
  color: #9d9d9d;
}

.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus,
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #000;
}

.navbar-dark .navbar-toggle .icon-bar {
  background-color: #fff;
}

.logged-out {
  visibility: hidden;
}

.centering {
  width: 50%;
  margin: auto;
}

.not-found {
  text-align: center;
  padding-top: 30px;
}

.not-found h2 {
  font-size: 3.75em;
  font-weight: 100;
}

.not-found p {
  font-size: 1.3125em;
  font-weight: 200;
}

.vis-container {
  margin: 20% 25% 0 25%;
  width: 50%;
}

#welcome-vis,
#smiley-selection,
#ids-vis {
  display: block;
}

#b-box {
  pointer-events: all;
  fill: none;
  cursor: pointer;
}

.welcome-text {
  margin-top: -7%;
  margin-left: 63%;
  width: 200px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  /*padding-left: 15px;*/
  font-size: 0.7875em;
  color: #fff;
}

.register-form-container {
  width: 50%;
  margin: 3% 25% 0 25%;
}


#create-account-link {
  display: inline-block;
  margin-top: 15px;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors {
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.alert {
  animation: fadeOut 3700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 3700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 3700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both; margin-bottom: 5px; pointer-events: auto;
}

.avatar-container {
  margin: 20% auto 0 auto;
  width: 75%;
}

.avatar-container > h4 {
  padding: 0 0 15px 30px;
}

a.avatar {
  cursor: pointer; /* Needs to explicitly set for SVG <a> elements */
  outline: none;
}

.ids-container {
  position: relative;
}

/*@media screen and (min-width: 768px) and (max-height: 800px) {
  .ids-container {
      height: 700px;
    }
}*/

#ids-vis {
  margin: auto;
}

.sticky-checkbox {
  pointer-events: all;
  cursor: pointer;
}

.sticky-checkbox text {
  fill: #747272;
  font-style: italic;
}

.sticky-checkbox circle {
  fill: #747272;
}

.sticky-checkbox path {
  fill:none;
}

.sticky-checkbox.checked text{
  fill: #fff;
  font-style:normal;
}

.sticky-checkbox.checked circle {
  fill: #fff;
}

.sticky-checkbox.checked path {
  stroke: #000;
  stroke-width: 1.2;
  stroke-linejoin: round;
  fill: none;
}

.drawing-surface {
  fill: #000;
  stroke: rgba(157, 157, 157, 0.35);
  pointer-events: all;
}

.node {
  cursor: crosshair;
  fill: #fff;
}

.root {
  outline: none;
}

.root > circle.filled {
  /*fill: #000;
  stroke: #fff;
  stroke-width: 4;*/
  display:none;
}

.root > circle.dashed,
.root > g.selected-controls {
  display: none;
}

.root > text {
  fill: #fff;
  font-size: 1.125em;
}

.child {
  outline: none;
  display: table; /* This is needed for vertical positioning of the text within <p> */
}

.child > circle.filled {
  fill: #fff;
  stroke: #000;
  stroke-width: 2;
}

.child > circle.dashed,
.child > g.selected-controls {
  display: none;
}

.child.node-selected > circle.dashed,
.child.node-selected > g.selected-controls {
  display: block;
}

circle.dashed {
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 5 5;
  fill: #000;
}

.foreign-object {
  display: table-row; /* This is needed for vertical positioning of the text within <p> */
}

p.txt-input {
  color: #000;
  display: table-cell; /* This is needed for vertical positioning */
  vertical-align: middle;
  width: inherit;
  height: inherit;
  font-family: sans-serif;
  font-size: 0.75em;
  line-height: 1.2em;
  text-align: center;
  outline: none;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}

p.txt-input:focus {
  color: #a7aaae;
}

/* http://css-tricks.com/overriding-the-default-text-selection-color-with-css/ */
p.txt-input::selection {
  background: transparent;
}

p.txt-input::-moz-selection {
  background: #fff;
}

.drag-line {
  stroke: #fff;
  stroke-width: 3;
  pointer-events: none;
}

.drag-line-hidden {
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #fff;
  stroke-width: 3;
  cursor: crosshair;
}

.drag-icon {
  cursor: pointer;
}

.delete-icon {
  cursor: default;
}

.drag-icon > circle,
.delete-icon > circle {
  fill: #000;
  stroke: #fff;
  stroke-width: 1;
}

.drag-icon > path,
.delete-icon > line {
  fill: #fff;
  stroke: #fff;
  stroke-width: 1;
}
