<template name="navigation">
  <div class="ui inverted left thin vertical menu visible sidebar" id="admin-aside">

    <a href="{{pathFor 'home'}}" class="item">
      <h5 class="header">
        <i class="dashboard icon"></i>Dashboard
      </h5>
    </a>

    {{#if currentUser}}

      <div class="item">
        <div class="header">
          <i class="users icon"></i>Users
        </div>
        <div class="menu">
          <a href="{{pathFor 'usersList'}}" class="{{activeRouteClass 'usersList'}} item">View all</a>
          <a href="{{pathFor 'userNew'}}" class="{{activeRouteClass 'userNew'}} item">Add user</a>
        </div>
      </div>

      <div class="item">
        <div class="header">
            <i class="calendar icon"></i>Trainings
        </div>
        <div class="menu">
          <a href="{{pathFor 'trainingsList'}}" class="{{activeRouteClass 'trainingsList'}} item">View all</a>
          <a href="{{pathFor 'trainingNew'}}" class="{{activeRouteClass 'trainingNew'}} item">Add training</a>
        </div>
      </div>

      <div class="item">
        <div class="header">
            <i class="tags icon"></i>Identifications
        </div>
        <div class="menu">
          <a href="{{pathFor 'idsList'}}" class="{{activeRouteClass 'idsList'}} item">View all</a>
        </div>
      </div>

      <div class="item">
        <div class="header">
            <i class="bullseye icon"></i>Bullseye
        </div>
        <div class="menu">
          <a href="{{pathFor 'bullseye'}}" class="{{activeRouteClass 'bullseye'}} item">Manage</a>
        </div>
      </div>

      <div class="item">
        <div class="header">
            <i class="bullseye icon"></i>Export
        </div>
        <div class="menu">
          <a href="{{pathFor 'export'}}" class="{{activeRouteClass 'export'}} item">Export Data</a>
        </div>
      </div>

    {{/if}}

  </div>

</template>
