<template name="intro">
  <div class="avatar-container">
    <h4>Choose a smiley...</h4>
        <div id="avatar-wrapper">
          <!-- Within the <use> element we reference the file 'avatars.svg'
            to draw symbols using each of which id '#...'. -->
        {{#each item in avatars}}
          <div class="avatar {{selectedAvatarClass item}}" style="position:absolute; top:{{alignAvatar item.yPos}}px; left:{{alignAvatar item.xPos}}px">
            <svg x="0" y="0" width="140" height="140" viewBox="0 0 140 140" >
              <a xlink:href="#"  role="button" tabindex="0">
                <use width="140" height="140" xlink:href="{{item.url}}" x="0" y="0"/>
              </a>
            </svg>
          </div>
        {{/each}}
    </div>
  </div>
</template>
