<template name="masterLayout">

  {{> header}}

  {{> sAlert}}

  <div class="ui bottom attached segment pushable">
    <div id="layout-context">

      {{> navigation}}

      <div class="pusher">

        <div class="ui coca-content" style="width: {{width}}">
          {{> yield }}

        </div>

      </div>

    </div>
  </div>
</template>



<template name="noAdmin">
  {{!--
    noAdmin template is rendered based on the Router.onBeforeAction
      hook 'requireAdminRights()' (see router.js)
  --}}
  <div class="ui fluid center aligned basic fitted segment">
    <div class="ui blue huge compact message">
      You need to have admin rights to access the content of this site!
    </div>
  </div>
</template>
