.bullseye-menu .open > a,
.bullseye-menu .open > a:hover,
.bullseye-menu .open > a:focus  {
  background-color: #fff;
  color: #333;
}

.bullseye-view {
  margin-left: auto;
  margin-right: auto;
}


/*.word-label,*/
.bullseye-animation #splash-wrapper {
  animation: rotation 60s linear infinite;
}

p.bullseye-circle-label {
  text-align: center;
  word-wrap: break-word;
  display: table-cell;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 0 3px;
  color: #000;
}

#bullseye-indicator-container {
  position: absolute;
  top: 0;
  left: 0;
}

.bullseye-animation #bullseye-indicator-container {
  animation: rotation 60s linear infinite;
}

.bullseye-indicator {
  position: relative;
}

.bullseye-indicator-label {
  font-weight: bold;
}

.bullseye-indicator-number {
  font-family: 'Short Stack', cursive;
  font-size: 4em;
}

:-webkit-full-screen {
  background-color: grey;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#player-canvas {
  border: 2px solid yellow;
}
