/*
 * colors.css
 *
 */

/* grey */
.c-grey {
  fill: #9d9d9d;
  color: #9d9d9d;
}

/* white */
.c-white {
  fill: #fff;
  color: #fff;
}

/* yellow*/
.c1 {
  fill: #ffcc00;
  color: #ffcc00;
}

/* purple */
.c2 {
  fill: #663399;
  color: #663399;
}

/* green */
.c3 {
  fill: #006633;
  color: #006633;
}

/* rose */
.c4 {
 fill: #cc99cc;
 color: #cc99cc;
}

/* light-blue */
.c5 {
  fill: #33ccff;
  color: #33ccff;
}

/* orange*/
.c6 {
  fill: #ff9900;
  color: #ff9900;
}

/* red */
.c7 {
  fill: #990000;
  color: #990000;
}

/* blue */
.c8 {
  fill: #3366cc;
  color: #3366cc;
}

/* light green */
.c9 {
  fill: #66cc33;
  color: #66cc33;
}

/* light red */
.c10 {
  fill: #ff9896;
  color: #ff9896;
}

/* yellow-ish */
.c11 {
  fill: #e7ba52;
  color: #e7ba52;
}
