/*
 * home.css
 *
 * Layout affecting the 'home.html' template.
 */

.welcome-container {
  position: relative;
}

@media all and (min-width: 769px) /*and (max-height: 700px)*/{
  .welcome-container {
    margin: 6% auto 0 auto;
    width: 55%;
  }

  .welcome-text {
    position: absolute;
    left: 73.5%;
    top: 69%;
    width: 100%;
    font-size: 0.7875em;
    color: #fff;
  }

  /* flex container (i.e. parent of flex items) */
  .signup-or-login {
    padding-top: 0.7em;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  /* flex items (i.e. children of flex container)*/
  #go-to-create-account,
  #go-to-login {
    width: 80%;
    text-align: center;
  }

  #go-to-create-account {
    padding: 1.1em 0 0.5em 0;
  }

  #go-to-login {
    padding: 0.5em 0;
  }
} /* End @media all and (min-width: 769px) */

@media all and (max-width: 768px) {
  .welcome-container {
    margin: 16% auto 0 auto;
    width: 80%;
  }

  .welcome-text {
    position: absolute;
    left: 73.5%;
    top: 69%;
    width: 100%;
    font-size: 0.7875em;
    color: #fff;
  }

  /* flex container (i.e. parent of flex items) */
  .signup-or-login {
    padding-top: 1em;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  /* flex items (i.e. children of flex container)*/
  #go-to-create-account,
  #go-to-login {
    width: 80%;
    text-align: center;
    padding: 1.2em 0;
  }
} /* End @media all and (max-width: 768px) */

#welcome-vis {
  display: block;
  padding: 1em;
}

.btn-signup-or-login {
  width: 12.125em;
}

#b-box {
  pointer-events: all;
  fill: none;
}