/*
 * intro.css
 *
 * Layout affecting the 'intro.html' template.
 */

#avatar-wrapper {
  position: relative;
  margin-top: 30px;
}

@media all and (min-width: 770px) {
  .avatar-container {
    margin: 5% auto 0 auto;
    height: 80vh; /* 80% of current viewport height */
    width: 80%
  }

  #avatar-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .avatar-container > h4 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
  }
}

@media all and (max-width: 768px) {
  .avatar-container {
    margin: 18% auto 0 auto;
    width: 70%;
  }

  #avatar-wrapper {
    margin-left: 23px;
  }

  .avatar-container > h4 {
    padding-left: 62px;
    font-size: 1.1em;
  }
}


/* HEADS UP: We use the CSS 'color' property here to customize the 'fill'
* and 'stroke' color values of the avatar icon's SVG elements which use the
* CSS variable 'currentColor' within the original symbol definition
* in the file avatars.svg.
* Normally, the CSS 'color' property is not applicable to SVG elements.
*/
.avatar a {
  cursor: pointer; /* Needs to explicitly set for SVG <a> elements */
  outline: none;
  color: #fff; /* Property cascades to the SVG element inside <a>. */
}

.avatar.selectable {
  transform: scale(1);
  -webkit-transition: transform 500ms;
  transition: transform 500ms;
}

.avatar.selected-avatar {
  transform: scale(1.75);
  -webkit-transition: transform 500ms;
  transition: transform 500ms;
}
