<template name="intro">
  <div class="avatar-container">
    <h4 class="centering">Choose a smiley...</h4>
    <svg class="centering" id="smiley-selection" viewBox="-50.206 -25.206 600 600">
      <!-- Within the <use> element reference the file 'avatars.svg' and draw the
        symbols using each of which id '#...'. -->
      {{#each avatars}}
        <a xlink:href="#" class="avatar {{selectedAvatarClass}}" role="button" tabindex="0">
          <use width="{{width}}" height="{{height}}" xlink:href="{{url}}" x="{{xPos}}" y="{{yPos}}"/>
        </a>
      {{/each}}
    </svg>
  </div>
</template>
