<template name="intro">
  <div class="vis-container">
    <h5 class="centering">Choose a smiley...</h5>
    <svg class ="centering" id="smiley-selection" viewBox="-32 -21 400 400">
      <!-- Reference the file 'avatars.svg' and draw the symbols using
        each of which id '#...' and the 'use' element. -->
      <use xlink:href="/svg/avatars.svg#smiley-wink" x="0" y="0" />
      <use xlink:href="/svg/avatars.svg#smiley-chuckle" x="124" y="0" />
      <use xlink:href="/svg/avatars.svg#smiley-smirk" x="248" y="0" />
      <use xlink:href="/svg/avatars.svg#smiley-lol" x="0" y="130" />
      <use xlink:href="/svg/avatars.svg#smiley-smile" x="124" y="130" />
      <use xlink:href="/svg/avatars.svg#smiley-nerd" x="248" y="130" />
      <use xlink:href="/svg/avatars.svg#smiley-star" x="0" y="260" />
      <use xlink:href="/svg/avatars.svg#smiley-heart" x="124" y="260" />
      <use xlink:href="/svg/avatars.svg#smiley-cool" x="248" y="260" />
    </svg>
  </div>
</template>
