<template name="createAccountForm">
      <div>
        <form id="register-form">
          <input type="text" id="account-username" placeholder="Type your name..."/>
          <input type="password" id="account-password" placeholder="Type your password..." />
          <input type="password" id="account-password-again" placeholder="Repeat your password..." />
          <input type="submit" id="create-account" class="btn" value="Create your account" />
        </form>
      </div>
</template>

<template name="loginForm">
  {{#if loginForm}}
    <div id="login-form-container">
      <form id="login-form">
        <input type="text" id="login-username" placeholder="Type your name..."/>
        <input type="password" id="login-password" placeholder="Type your password..."/>
        <input type="submit" class="btn btn-default"  id="login-button" value="Sign in"/>
      </form>
      <a href="#" id="create-account">Create your account</a>
    </div>
  {{/if}}

  {{#if createAccount}}
    {{> createAccountForm}}
  {{/if}}
</template>
