<template name="createAccountForm">
      <div class="register-form-container">
        <form class="centering" id="create-account-form">
          <div class="form-group">
            <label class="sr-only" for="account-training-select">Training</label>
            <div class="controls">
              <select class="form-control" id="account-training-select">
                {{#each trainings}}
                <option>{{title}} - {{trainingDate}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group {{errorClass 'username'}}">
            <label for="account-username" class="sr-only">Username</label>
            <div class="controls">
              <input type="text" class="form-control" id="account-username" placeholder="Type your name..."/>
              <span class="help-block">{{errorMessage 'username'}}</span>
            </div>
          </div>
          <div class="form-group {{errorClass 'password'}}">
            <label for="account-password" class="sr-only">Password</label>
            <div class="controls">
              <input type="password" class="form-control" id="account-password" placeholder="Type your password..." />
              <span class="help-block">{{errorMessage 'password'}}</span>
            </div>
          </div>
          <input type="submit" class="btn btn-default" id="create-account-button" value="Create your account" />
        </form>
      </div>
</template>

<template name="loginForm">
  {{#if loginForm}}
    <div class="register-form-container">
      <form  class="centering" id="login-form">
        <div class="form-group">
          <label class="sr-only" for="login-training-select">Training</label>
          <div class="controls">
            <select class="form-control" id="login-training-select">
              {{#each trainings}}
              <option>{{title}} - {{trainingDate}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group {{errorClass 'username'}}">
          <label class="sr-only" for="login-username">Username</label>
          <div class="controls">
            <input type="text" class="form-control" id="login-username" placeholder="Type your name..."/>
            <span class="help-block">{{errorMessage 'username'}}</span>
          </div>
        </div>
        <div class="form-group {{errorClass 'password'}}">
          <label class="sr-only" for="login-password">Password</label>
          <div class="controls">
            <input type="password" class="form-control" id="login-password" placeholder="Type your password..."/>
            <span class="help-block">{{errorMessage 'password'}}</span>
          </div>
        </div>
        <input type="submit" class="btn btn-default"  id="login-button" value="Sign in"/>
      </form>
      <div class="centering">
        <a href="#" id="create-account-link">Create your account</a>
      </div>
    </div>
  {{/if}}

  {{#if createAccount}}
    {{> createAccountForm}}
  {{/if}}
</template>
