<template name="myIds">
  <div class="ids-container" id="ids-graph">
    {{!-- Visualization will go here --}}
    {{#if warningDialog}}
      {{> warning}}
    {{/if}}
  </div>
</template>

<template name="warning">
  <div class="warning">
    <div class="alert alert-info alert-dismissible fade in" id="info-dialog" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        &times;
      </button>
      <h5 id="oops">Oops! Your ID bubble is empty.</h5>
      <p>Please enter some text.<br />
        Or do you want to remove this bubble?
      </p>
      <p>
        <button id="remove-btn" type="button" class="btn btn-info">Remove bubble</button>
        <button id ="enter-btn" type="button" class="btn btn-default">Enter text</button>
      </p>
    </div>
  </div>
 </template>
